body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.square {
    border: 1px solid black;
    height: 60px;
    width: 60px;
}
.break {
    flex-basis: 100%;
    height: 0;
}